  
  
  <!--slidebar and header start--> 
  <!-- <div class="header"> 
   <h3>Jimikart</h3> 
    
  </div>  -->
  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- <div id="slidebar"> 
   <div class="toggle"> 
    <i class="fa fa-4x fa-navicon"></i> 
   </div> 
   <ul> 
    <a href="#"><li><i class="fa fa-bed"></i>Aakash Yatri Niwas</li> </a> 
    <a href="#"><li><i class="fa fa-home"></i>Home</li></a> 
    <a href="#"> <li><i class="fa fa-user"></i>About Us</li></a> 
    <a href="#"><li><i class="fa fa-play"></i>Game Corner</li></a> 
    <a href="#"><li><i class="fa fa-phone"></i>Contact Us</li></a> 
    <a><li><i class="fa fa-car"></i>Woods & Handicrafts</li></a>  
   
   </ul> 
  </div>  -->
  <!--slidebar and header end--> 
  <div class="slide_image" > 
  
  
  
   <!-- <img src="shop_index.jpg" alt="img0"> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT4rjVOw0N4q5thq9BNsXkXIpexnqYS6nEnHoxWBb5TuZ6CEgVv40D_1w&amp;s=10" alt="img1"> 
   


 
 
 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoy2cftly7ZMdrWsKRUHCm2ezepki0Tm26PgDkCN9iHU-MvoI39_w0kYxC&amp;s=10" alt="img2"> 
   </div> 
  <!--footer start--> 
  <div id="footer"> 
   <div class="social_media"> 
    <a href="https://m.facebook.com/aakash.modanwal.37?ref=bookmarks"><i class="fa fa-3x fa-facebook"></i></a> 
    <a href="https://mobile.twitter.com/_AakashJi"><i class="fa fa-3x fa-twitter"></i></a> 
    <a href="https://www.instagram.com/_aakashji/"><i class="fa fa-3x fa-instagram"></i></a> 
    <a href="https://www.linkedin.com/in/akash-modanwal-b282891a3"><i class="fa fa-3x fa-linkedin"></i></a> 
   </div> 
   <p>Copyright <i class="fa fa-copyright"></i> 2024.<b>www.jimikart.com</b>.All Rights Reserved. Designed, Developed and Hosted by <b>Aakash Ji</b></p> 
  </div> 
  <!--footer end-->